<h1>Contact Us</h1>

<div class="row">
  <div class="col-sm-4">
  	<address>
  	  <b><%= RESTAURANT_NAME %></b><br/>
  	  44 Lý Tự Trọng, Bến Nghé, 1, Hồ Chí Minh, Việt Nam
  	</address>
  </div>
  <div class="col-sm-8">
  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4485262701596!2d106.69803441458829!3d10.776918562131975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f47f4bf195d%3A0x675567b1b6a70538!2sNh%C3%A0+H%C3%A0ng+Le+Fenetre+Soleli!5e0!3m2!1sen!2s!4v1452572504397" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

